@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

body {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adicionei esta linha para garantir que a tela seja centralizada verticalmente */
}

.codetheworld-io {
    display: flex;
}

a {
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0);
    color: var(--color);
    font-size: 2.5em;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,.4));
}

a:hover {
    background: var(--color);
    color: #050801;
    box-shadow: 0 0 5px #333,
    0 0 25px var(--color),
    0 0 70px var(--color),
    0 0 180px var(--color);
}
